.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(181, 212, 182);
}
.section-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;

}

.section-right{
    width: 100%;
}

.title{
   font-style:oblique;
   font-size: 30px;
}
.home{
    background-color: chocolate;
    width: 20%;
    
}
.link{
    text-decoration: none;
    color: white;
}