.container{
    padding-top: 2%;
    padding-left: 5%;
    width: 100%;
}

.view {
  padding-top: 4%;
}
.search-bar {
    width: 50%;
    display: flex;
    justify-content: center;
  
}
input {
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    width: 100%;
    padding: 5px 5px 5px 10px;
    height: 38px;
    outline: none;
}
form {
    display: flex;
    justify-content: center;
    width: 70%;
}
button {
    display: flex;
    justify-content: center;
    margin-left:10%;
    cursor: pointer;
    height: 38px;
    background-color: rgb(31, 77, 218);
    color: seashell;
    border: none;
    border-radius: 10%;
}
.sbtn{
  width: 20%;
  margin-left: 1%;
  padding: 5px;
}

.card{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-flow: wrap;
    border: none;
    margin-top: 40px;
 }

 